@development:
    ssh: docker:[DEVELOPMENT_USER]@[DEVELOPMENT_HOST][DEVELOPMENT_PATH]
    port: [DEVELOPMENT_PORT]
    host: [DEVELOPMENT_HOST]
    path: [DEVELOPMENT_PATH]
    url: [DEVELOPMENT_DOMAIN]
    username: [DEVELOPMENT_USER]
@staging:
   ssh: [STAGING_USER]@[STAGING_HOST]:[STAGING_PORT][STAGING_PATH]
   port: [STAGING_PORT]
   host: [STAGING_HOST]
   path: [STAGING_PATH]
   url: [STAGING_DOMAIN]
   username: [STAGING_USER]
@production:
   ssh: [PRODUCTION_USER]@[PRODUCTION_HOST]:[PRODUCTION_PORT][PRODUCTION_PATH]
   port: [PRODUCTION_PORT]
   host: [PRODUCTION_HOST]
   path: [PRODUCTION_PATH]
   url: [PRODUCTION_DOMAIN]
   username: [PRODUCTION_USER]